# Игнорируем виртуальное окружение
venv/
.env
*.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи
logs/
*.log

# SQLite база данных (если есть)
*.sqlite3
*.db

# Конфигурационные файлы PyCharm
.idea/

# Файлы зависимостей
pip-log.txt
pip-delete-this-directory.txt

# Docker
*.dockerfile
docker-compose.yml

# Исключаем файлы, создаваемые системой
.DS_Store
Thumbs.db

# Файлы AI
*.checkpoint
*.model

BOT_TOKEN=8194419796:AAHpmoWGLv9My2uh4Zmtk8HluKNd98Z30-c
MISTRAL_API_KEY=MZGiT1OfYt0ypGOZeAwMIDy7C4bmC1xA
DB_LITE=sqlite+aiosqlite:///my_base.db
ID_MAIN_ADMIN=1006569664
ID_ADMINS=1006569664, 6625770047